<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>BAKITA - Bahasa Kita</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
	<!-- fontawesome -->
	<link rel="stylesheet" href="{{ url_for('static',filename='fontawesome/css/all.min.css') }}">
</head>
<body>
	<div class="container">
		
		<header>
			<div class="row">
				<div class="col-lg-12">
					<nav>
						<ul>
							<li class="logo"><a href="/">BAKITA - Bahasa Kita</a></li>
							<li><a href="/#popular">Team</a></li>
							<li><a href="/#categories">Fitur</a></li>
							<li><a href="bahasa.html">Bahasa</a></li>
							<li><a href="/">Home</a></li>
						</ul>
					</nav>
				</div> <!-- col-lg-12 -->
			</div> <!-- row -->
		</header>
		
		<main>
			<div class="bg-category" style="margin-top: 150px;">
				<div class="wrap-center">
					<div class="row">

						<div class="col-lg-12">
							<div class="title">
								<h3>Cek Kalimat</h3>
								<p>Kalimat apa yang ingin anda cek?</p>
							</div> <!-- title -->
						</div> <!-- col-lg-12 -->

						<div class="col-lg-12 col-md-12">
							<div class="col-lg-12">
								<form action="" name="search" method="POST">
									<div class="col-lg-8 col-sm-12">
										<div class="input">
											<input type="text" name="kalimat" value="{{ st }}" placeholder="Kalimat apa yang ingin anda periksa?" style="font-family: Nunito, Arial, Helvetica, sans-serif; font-size: 15px; font-weight: 600;">
										</div> <!-- input -->
									</div> <!-- col-lg-4 -->
									<div class="col-lg-4 col-md-12">
										<div class="input">
											<input type="submit" name="btn-submit" value="Cek Sekarang!">
										</div> <!-- input -->
									</div> <!-- col-lg-4 -->
								</form>
							</div>
							<div class="col-lg-12" style="margin-left: 10px;">
								{% if result == 1 %}
									<p class="pop-success">Kalimat yang Bagus! Selamat</p>
								{% elif result == -1 %}
									<p class="pop-error">Kalimat Anda tidak Sesuai dengan Struktur Bahasa Indonesia!</p>
								{% endif %}
							</div>
							{% if result == 1 %}
							<div class="col-lg-12" style="margin-left: 10px; margin-top: 5%;">
								<div class="title" style="margin-bottom: 15px;">
									<h3>Hasil Tabel</h3>
								</div> <!-- title -->
								<table border="1px" style="border-collapse: collapse; width: 100%;">
									<tr style=" background-color: #DB5B88; color: #fff;">
										{% for name in std %}
										<th style="padding: 15px;">{{ name }}</th>
										{% endfor %}
									</tr>
									{% for row in Rtable: %}
									<tr>
										{% for column in row: %}
										<td style="padding: 5px 10px;">{{ column }}</td>
										{% endfor %}
									</tr>
									{% endfor %}
								</table>
							</div>
							{% endif %}
						</div> <!-- col-lg-6 col-md-6 -->
						
					</div> <!-- row -->
				</div> <!-- wrap-center -->
			</div> <!-- bg-category -->

		</main>

		<footer>
			<div class="row">
				<div class="col-lg-12">
					<p>
						Copyright 2022 &copy; BAKITA - Kel 2 | D <br />
						Design by <strong>Team Kelompok 2</strong>
					</p>
				</div> <!-- col-lg-12 -->
			</div> <!-- row -->
		</footer>

	</div> <!-- container -->
</body>
</html>
